setuptools>=68.0.0
Django==4.2.7
gunicorn>=21.2

djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary>=2.9.10
Pillow>=10.1.0
django-filter>=24.2
python-decouple==3.8
geopy==2.4.1
django-extensions==3.2.3
drf-spectacular==0.26.5
celery==5.3.4
redis==5.0.1
django-redis==5.4.0
reportlab>=4.0.0
